html,
body,
#root,
#mainDiv {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mainDiv {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.Sidebar {
  display: flex;
  width: 300px;
  border: 1px solid black;
  height: 100%;
  flex-shrink: 0;
}

.mainContent {
  display: flex;
  flex-grow: 1;
}
